@using Microsoft.AspNet.Identity
@Styles.Render("~/Content/CSS/Menu.css")
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "Link" }))
    {
        @Html.AntiForgeryToken()

        
            <li><a> @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "Link" })</a></li>
            <li ><a class="Link" href="javascript:document.getElementById('logoutForm').submit()" >Cerrar Sesion</a></li>
       
    }
}
else
{
  
        <li><a>@Html.ActionLink("Registrarse", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "Link" })</a></li>
        <li><a>@Html.ActionLink("Ingresar", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "Link" })</a></li>
   
}
