@model CJMusic.Models.ArtistasEn
@{
    ViewBag.Title = "ActualizarArtista";
}

<h2>ActualizarArtista</h2>

<hr />


<form action="@Url.Action("ActualizarArtista")" method="post">

    <input type="text" name="Nombre" value="@ViewBag.Nombre" class="form-control" />
    <br />
    <input type="text" name="Descripcion" value="@ViewBag.Descripcion" class="form-control" />
    <br />
    <input type="text" name="img" value="@ViewBag.img" class="form-control" />
    <br />
    <input type="text" name="facebook" value="@ViewBag.facebook" class="form-control" />
    <br />
    <input type="text" name="twitter" value="@ViewBag.twitter" class="form-control" />
    <br />
    <input type="text" name="youtube" value="@ViewBag.youtube" class="form-control" />
    <br />

    <input class="btn btn-success" type="submit" value="ActualizarArtista" />

</form>



<a href="@Url.Action("Artistas")">Cancelar</a>