@{
    ViewBag.Title = "Home Page";
    var ListaEventos = ViewBag.ListaEventos;

}
@Styles.Render("~/Content/CSS/home.css")

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="10000">
    <ol class="carousel-indicators" style="margin-bottom:9%;">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active" style="margin-top:60px;">
            <img class="img-fluid imagen" src="~/Content/Img/ArtistasCarrusel/trenza.jpg" alt="First slide">

        </div>
        <div class="carousel-item" style="margin-top:60px;">
            <img class="img-fluid imagen" src="~/Content/Img/ArtistasCarrusel/ba.jpg" alt="Second slide">
        </div>
        <div class="carousel-item" style="margin-top:60px;">
            <img class="img-fluid imagen" src="~/Content/Img/ArtistasCarrusel/paty.jpg" alt="Third slide">
        </div>
        <div class="carousel-item" style="margin-top:60px;">
            <img class="img-fluid imagen" src="~/Content/Img/ArtistasCarrusel/haash.jpg" alt="Third slide">
        </div>
        <div class="carousel-item" style="margin-top:60px;">
            <img class="img-fluid imagen" src="~/Content/Img/ArtistasCarrusel/jd.jpg" alt="Third slide">
            <div class="carousel-caption d-none d-md-block">
                <embed src="https://soundcloud.com/cesar-de-jesus-208615305/jd-1/s-cshbG" autostart="true" loop="true" width="0" height="0" />
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<p style="font-family: 'Nanum Gothic', sans-serif;
font-family: 'Kodchasan', sans-serif;
font-family: 'Pacifico', cursive;
 color: white; font-size:55px; margin-left:25%; margin-top:50px;">Lista de Eventos Proximos...</p>
<!--#26292A-->


<section>
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                @foreach (var p in ListaEventos)
                {
                    <div class="col-lg-4">
                        <div class="card text-center">
                            <div class="title">
                                <i class="fas fa-paper-plane"></i>
                                <h2 style="font-family: 'Josefin Sans', sans-serif;">@p.Fecha</h2>
                            </div>
                            <div class="price">
                                <h3 style="  font-family: 'Montserrat', sans-serif;">@p.Artista</h3>
                            </div>
                            <div class="option">
                                <ul>
                                    <li>
                                        <i class="fas fa-landmark"><label style="font-family: 'Pacifico', cursive;">@p.Lugar</label> </i>

                                    </li>
                                    <li>
                                        <i class="fas fa-map-marked-alt"><label style="font-family: 'Montserrat', sans-serif;">@p.Direccion</label> </i>

                                    </li>

                                </ul>
                            </div>
                            <a href="https://www.ticketmaster.com.mx/">Tickets</a>
                            @{
                                if (User.IsInRole("Administrador"))
                                {
                                    @Html.ActionLink("Actualizar", "Actualizar", new { Id = p.Id })
                                    @Html.ActionLink("Eliminar", "Eliminar", new { Id = p.Id })
                                }
                            }
                        </div>

                    </div>
                }
            </div>
        </div>
    </div>
</section>

<br />
<br />

@{
    if (User.IsInRole("Administrador"))
    {
        <a href="@Url.Action("Agregar")" style="font-family: 'Nanum Gothic', sans-serif;
        font-family: 'Kodchasan', sans-serif; color:white; text-decoration:none; color: white; margin-left:15%;"><i class="fas fa-calendar" style="font-size:25px; color: white; margin-right:5px;"></i>Agregar Nuevo Evento</a>
    }
    else
    {

    }
}


<br />
<br />


<footer class="footer-distributed">
    <div class="footer-right">
        <a href="#" style="border-radius:35%;"><i class="fab fa-facebook-square"></i></a>
        <a href="#" style="border-radius:35%;"><i class="fab fa-twitter-square"></i></a>
        <a href="#" style="border-radius:35%;"><i class="fab fa-youtube"></i></a>
        <a href="#"><i class="fab fa-google-plus"></i></a>
    </div>
    <div class="footer-left">
        <img src="~/Content/Img/logooficial.gif" style="height:55px; width:55px;" />
        <p>
            © Copyright 2018 CJ Music Group. All rights reserved.
        </p>
    </div>
</footer>



